<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="isSidenavOpen">
    <div class="header-logo">TickIT</div>
    <mat-nav-list>
      <app-navigation-item
        (click)="navigateDashboard()"
        [label]="'Dashboard'"
        [icon]="'home'"></app-navigation-item>
    </mat-nav-list>
    <div class="nav-button-container">
      <button
        class="nav-button"
        mat-fab
        extended
        color="accent"
        (click)="openEditProjectModal()">
        <mat-icon>add</mat-icon>Projekt erstellen
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z3">
      <button *ngIf="!isSidenavOpen" mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <button *ngIf="isSidenavOpen" mat-icon-button (click)="toggleSidenav()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span *ngIf="!router.url.includes('/project/')">TickIT</span>
      <div *ngIf="router.url.includes('/project/')">
        <app-project-dropdown></app-project-dropdown>
      </div>
      <div class="button-container" *ngIf="isLoggedIn">
        <button mat-button (click)="navigateUser()">meine Daten</button>
        <app-logout></app-logout>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
