mat-dialog-actions {
  padding: 20px;
}

.dialog-actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.category-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.category-chips mat-chip {
  white-space: nowrap;
}

.duplicate-icon{
  cursor: pointer;
}
.category-name{
  color: white;
  font-weight: bold;
}

.add-category{
  color: black;
}

.category-section, .assignee-section{
  margin-top: 15px;
}
