<div [formGroup]="form" class="dialog-container">
  <mat-icon class="duplicate-icon" (click)="duplicateTicket()"
    >file_copy</mat-icon
  >
  <h2 mat-dialog-title>{{ dialogTitle }}</h2>
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Beschreibung</mat-label>
      <textarea matInput formControlName="description"> </textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fälligkeitsdatum</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dueDate" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>

    <div class="row">
      <mat-label>Kategorien</mat-label>
    </div>
    <div class="category-chips">
      <mat-chip
        *ngFor="let category of selectedCategories"
        [style.background-color]="category?.color ? category.color : ''">
        {{ category.name }}
        <mat-icon matChipRemove (click)="removeCategory(category)">
          cancel
        </mat-icon>
      </mat-chip>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          *ngFor="let category of categories"
          [style.background-color]="category?.color ? category.color : ''"
          (click)="selectCategory(category)"
          [disabled]="isCategorySelected(category)">
          {{ category.name }}
        </button>
      </mat-menu>
      <button mat-stroked-button [matMenuTriggerFor]="menu">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="row">
      <mat-label *ngIf="router.url.includes('/project/')">
        Verantwortliche(r)
      </mat-label>
    </div>
    <mat-chip-listbox>
      <mat-chip-option
        *ngFor="let user of ticketMembers"
        [selected]="isSelected(user)"
        (click)="toggleSelection(user)">
        {{ user?.name }} {{ user?.surname }}
      </mat-chip-option>
    </mat-chip-listbox>

    <mat-dialog-actions>
      <div class="dialog-actions">
        <div class="left-actions">
          <button
            *ngIf="editMode"
            mat-stroked-button
            color="warn"
            (click)="deleteTicket()">
            Löschen
          </button>
        </div>
        <div class="right-actions">
          <button mat-stroked-button mat-dialog-close>Abbrechen</button>
          <button
            mat-flat-button
            [disabled]="form?.invalid"
            color="primary"
            (click)="saveTicket()">
            Speichern
          </button>
        </div>
      </div>
    </mat-dialog-actions>
  </mat-dialog-content>
</div>
