<div [formGroup]="form" class="dialog-container">
  <h2 mat-dialog-title>{{ dialogTitle }}</h2>
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Ticketname</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ticket Beschreibung</mat-label>
      <textarea matInput formControlName="description"> </textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Fälligkeitsdatum</mat-label>
      <input matInput type="date" formControlName="dueDate" >
    </mat-form-field>

      <mat-label>Verantwortliche</mat-label>
    <mat-chip-option *ngFor="let user of ticketMembers" [selected]="isSelected(user)" (click)="toggleSelection(user)">
      {{ user?.name }} {{ user?.surname }}
    </mat-chip-option>

  <mat-dialog-actions>
    <div class="dialog-actions">
      <div class="left-actions">
        <button
          *ngIf="editMode"
          mat-stroked-button
          color="warn"
          (click)="deleteTicket()">
          Löschen
        </button>
      </div>
      <div class="right-actions">
        <button mat-stroked-button mat-dialog-close>Abbrechen</button>
        <button
          mat-flat-button
          [disabled]="form?.invalid"
          color="primary"
          (click)="saveTicket()">
          Speichern
        </button>
      </div>
    </div>
  </mat-dialog-actions>
  </mat-dialog-content>
</div>
