/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* Styling for dialogs */
.dialog-container {
  padding: 20px;

  .dialog-content {
    width: 100%;
  }
}

.dialog-header-actions {
  margin-right: 24px;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > h2 {
    margin-bottom: 0px;
    padding-bottom: 0px;
    align-self: center;
  }
}

mat-form-field {
  padding-top: 10px;
  width: 100%;
}

.dialog-actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.dialog-single-action {
  display: flex;
  width: 100%;
  justify-content: end;
}

.box-shadow {
  -webkit-box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.33);
}
