/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* Styling for dialogs */
.dialog-container {
  padding: 20px;

  .dialog-content {
    width: 100%;
  }
}

mat-form-field {
  padding-top: 10px;
  width: 100%;
}

.dialog-actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
