<div class="dialog-container">
  <div class="dialog-header">
    <h2 mat-dialog-title>
      {{ editMode ? 'Projekt bearbeiten' : 'Projekt erstellen' }}
    </h2>
    <div class="dialog-header-actions">
      <button
        *ngIf="editMode"
        mat-icon-button
        color="warn"
        (click)="deleteProject()">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button cdkFocusInitial mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <mat-dialog-content class="dialog-content">
    <ng-container *ngIf="editMode">
      <mat-tab-group>
        <mat-tab label="Daten">
          <div class="tab-content">
            <app-project-form
              [projectId]="projectId"
              [editMode]="editMode"
              (actionFinished)="onActionFinished($event)">
            </app-project-form>
          </div>
        </mat-tab>
        <mat-tab label="Mitglieder">
          <div class="tab-content">
            <app-project-members [projectId]="projectId"> </app-project-members>
          </div>
        </mat-tab>
        <mat-tab label="Kategorien">
          <div class="tab-content">
          <app-categories [projectId]="projectId"></app-categories>
          </div>
        </mat-tab>
      </mat-tab-group>
    </ng-container>
    <ng-container *ngIf="!editMode">
      <app-project-form
        [projectId]="projectId"
        [editMode]="editMode"
        (actionFinished)="onActionFinished($event)">
      </app-project-form>
    </ng-container>
  </mat-dialog-content>
</div>
