<div class="dialog-container">
  <h2 mat-dialog-title>
    {{ editMode ? 'Projekt bearbeiten' : 'Projekt erstellen' }}
  </h2>
  <mat-dialog-content [formGroup]="form" class="dialog-content">
    <mat-form-field appearance="outline">
      <mat-label>Projektname</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Projektdaten</mat-label>
      <textarea matInput formControlName="description"> </textarea>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="dialog-actions">
      <div>
        <button
          *ngIf="editMode"
          mat-stroked-button
          color="warn"
          (click)="deleteProject()">
          Löschen
        </button>
      </div>
      <div>
        <button mat-stroked-button mat-dialog-close>Abbrechen</button>
        <button
          mat-flat-button
          [disabled]="form?.invalid"
          color="primary"
          (click)="saveProject()">
          Speichern
        </button>
      </div>
    </div>
  </mat-dialog-actions>
</div>
