<div class="widget-wrapper">
  <div class="widget-container">
    <div class="widget-headline">
      <h1 class="md-display-3">Meine Projekte</h1>
      <button mat-icon-button (click)="openCreateProjectModal()" color="accent">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="list-wrapper">
      <p *ngIf="projects?.length < 1">
        Sie besitzen keine eigenen Projekte und sind nicht Mitglied eines
        bestehenden Projekts.
      </p>
      <app-project-preview
        *ngFor="let project of projects"
        [project]="project"></app-project-preview>
    </div>
  </div>
  <div class="widget-container">
    <h1 class="md-display-3">Meine Tickets</h1>
    <div class="list-wrapper">
      <p *ngIf="tickets?.length < 1">Sie haben keine offenen Tickets.</p>
      <app-ticket-card
        *ngFor="let ticket of tickets"
        [ticket]="ticket"></app-ticket-card>
    </div>
  </div>
</div>
