.list-wrapper {
  height: 300px;
  overflow-y: scroll;
}

mat-dialog-actions {
  display: flex;
  justify-content: space-between;
}

.list-item-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
