<mat-dialog-actions>
  <button mat-stroked-button (click)="openAddMembersModal()">Hinzufügen</button>
  <button mat-flat-button color="primary" (click)="saveProjectMembers()">
    Speichern
  </button>
</mat-dialog-actions>

<div class="list-wrapper">
  <mat-list>
    <mat-list-item *ngFor="let user of projectMembers">
      <div class="list-item-action">
        <div>
          <span matListItemTitle>{{ user?.name }} {{ user?.surname }}</span>
          <span matListItemLine>{{ user?.email }}</span>
        </div>
        <span
          [matTooltip]="
            isProjectOwner(user?.id)
              ? 'Der Benutzer kann nicht entfernt werden, da er Projekteigentümer ist'
              : ''
          ">
          <button
            mat-icon-button
            [disabled]="isProjectOwner(user?.id)"
            (click)="removeProjectMember(user?.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </span>
      </div>
    </mat-list-item>
  </mat-list>
</div>
