<div class="container light-grey-background">
  <mat-card>
    <mat-card-header>
      <h1>Anmelden</h1>
    </mat-card-header>
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate>
      <mat-card-content>
        <div class="row">
          <mat-form-field>
            <mat-label>E-Mail-Adresse</mat-label>
            <input
              matInput
              type="text"
              class="form-control"
              name="email"
              [(ngModel)]="form.username"
              required
              #email="ngModel" />
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input
              matInput
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="form.password"
              required
              #password="ngModel" />
          </mat-form-field>
        </div>
        <div class="dialog-actions">
          <a mat-stroked-button [routerLink]="['register']">Registrieren</a>
          <button
            mat-flat-button
            [disabled]="!f.form.valid"
            color="primary"
            type="submit">
            Anmelden
          </button>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>
