mat-card{
  width: 600px;
  margin: 50px auto;
  float: none;
}

mat-dialog-actions {
  padding: 20px;
}

.dialog-actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

mat-form-field{
  width: 90%;
  margin-left: 5%;
}
