<div class="status-container" cdkDropListGroup>
  <div
    *ngFor="let status of ticketStatusMap | keyvalue; let odd = odd"
    cdkDropList
    [id]="status.key.id.toString()"
    cdkDrop
    class="status-column"
    [cdkDropListData]="status.value"
    [cdkDropListConnectedTo]="connectedTo"
    (cdkDropListDropped)="onTicketDropped($event)"
    [ngClass]="{ 'alternate-background': odd }">
    <app-status-header
      (click)="openStatusModal(status?.key?.id)"
      [status]="status?.key"></app-status-header>
    <div class="ticket-container">
      <app-ticketsmall
        *ngFor="let ticket of status?.value"
        [ticket]="ticket"
        [cdkDragData]="ticket"
        cdkDrag
        class="ticket"></app-ticketsmall>
      <div class="add-ticket">
        <button
          mat-mini-fab
          color="accent"
          aria-label="Add ticket"
          (click)="openAddTicketDialog(status?.key?.id)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div id="add-column" class="box-shadow">
    <div class="add-button">
      <button
        mat-button
        aria-label="Spalte hinzufügen"
        (click)="openStatusModal()">
        <mat-icon>add</mat-icon>
        Status hinzufügen
      </button>
    </div>
  </div>
</div>
