/* status column */
.status-container {
  width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  display: flex;
  justify-content: flex-start;

  .status-column {
    background-color: #f5f5f5;
    height: 100%;
    width: 200px;
  }

  .status-title {
    display: block;
    width: 170px;
    color: white;
    background-color: #292929;
    font-size: 20px;
    margin: auto 0;
    padding: 20px 15px;
    text-align: left;
    cursor: pointer;
  }

  .ticket {
    width: 150px;
    margin: 20px 10px;
  }

  #add-column {
    background-color: #f5f5f5;
    min-width: 80px;
    width: 100%;
  }
}

.box-shadow {
  -webkit-box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.33);
}
