<div class="status-container">
  <div
    *ngFor="let status of ticketStatusMap | keyvalue"
    cdkDropList
    [id]="status.key.name"
    cdkDrop
    class="status-column"
    [cdkDropListData]="status.value"
    [cdkDropListConnectedTo]="connectedTo"
    (cdkDropListDropped)="drop($event)"
    (cdkDropDropped)="dropped($event)">
    <div
      class="status-title box-shadow"
      [style.background-color]="status.key?.color ? status.key?.color : ''"
      (click)="openStatusModal(status?.key?.id)">
      <span>
        {{ status?.key?.name }}
      </span>
    </div>
    <mat-card *ngFor="let ticket of status?.value" cdkDrag class="ticket">
      <mat-card-header>
        <mat-card-title>
          {{ ticket?.title }}
        </mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
  <div id="add-column box-shadow">
    <button
      mat-icon-button
      aria-label="Spalte hinzufügen"
      (click)="openStatusModal()">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
</div>
