<div class="dialog-container">
  <h2 mat-dialog-title>Passwort ändern</h2>
  <mat-dialog-content>
    <form #form="ngForm">
      <div class="row">
        <mat-form-field>
          <mat-label>Altes Passwort</mat-label>
          <input
            type="password"
            matInput
            name="oldPassword"
            id="oldPassword"
            required
            [(ngModel)]="updatePasswordForm.oldPassword" />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>Neues Passwort</mat-label>
          <input
            type="password"
            matInput
            name="newPassword"
            id="newPassword"
            required
            [(ngModel)]="updatePasswordForm.newPassword" />
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="dialog-actions">
      <button mat-stroked-button mat-dialog-close>Abbrechen</button>
      <button
        mat-flat-button
        color="primary"
        (click)="updatePassword()"
        [disabled]="!form.valid">
        Passwort ändern
      </button>
    </div>
  </mat-dialog-actions>
</div>
