<div class="container" xmlns="http://www.w3.org/1999/html">
  <mat-card>
    <form>
      <mat-card-header>
        <h1>Neues Projekt anlegen</h1>
      </mat-card-header>
      <mat-card-content>
        <div class=" row">
          <mat-form-field >
            <mat-label>Projektname</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div class=" row">
          <mat-form-field >
            <mat-label>Projektdaten</mat-label>
            <textarea matInput> </textarea>

          </mat-form-field>
        </div>
        <div class="button-container">
          <div class="row">
            <button  mat-raised-button type="submit" >Projekt anlegen</button>
          </div>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>
